{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{ parent() }}{% endblock %}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    <form method="post" style="width: 500px;" class="ml-auto mr-auto">
        <h1>Se connecter</h1>
        {% include '_flash_messages.html.twig' %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <input type="text" value="{{ last_username }}" name="_username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="_password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
            -
            <a href="{{ path('security.forgotPassword') }}">Mot de passe oublié ?</a>
        </div>
        <button class="btn btn-secondary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Se connecter</button>
    </form>
{% endblock %}