{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }} - {{ parent() }}{% endblock %}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('forum.subcategory', {slug: topic.subcategory.slug, id: topic.subcategory.id}) }}">{{ topic.subcategory.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
        </ol>
    </nav>
    <h1>{{ topic.title }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id is same as(topic.author.id) %}
        <a class="btn btn-light btn-sm" href="{{ path('forum.topic_edit', {slug: topic.slug, id: topic.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
        <form style="display: inline-block;" action="{{ path('forum.topic_delete', {slug: topic.slug, id: topic.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sujet ? (action irréversible)')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete-topic-' ~ topic.id) }}">
            <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button>
        </form>
        <hr>
    {% endif %}
    <div class="pt-3 pl-3 pr-3">
        <div class="row">
            <div class="col-sm-1">
                {% if topic.author.avatar %}
                    <img src="{{ vich_uploader_asset(topic.author, 'imageFile') | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ topic.author.username }}">
                {% else %}
                    <img src="{{ '/images/users/default.png' | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ topic.author.username }}">
                {% endif %}
            </div>
            <div class="col-sm-11">
                <p>{{ topic.createdAt | date('Y-m-d H:i:s') }} - <a href="{{ path('user.profile', {id: topic.author.id}) }}">{{ topic.author.username }}</a></p>
                <p>{{ topic.content }}</p>
            </div>
        </div>
    </div>
    {% for response in topic.responses %}
        <br>
        <div class="text-light bg-dark">
            <div class="pt-3 pl-3 pr-3 pb-3">
                <div class="row">
                    <div class="col-sm-1">
                        {% if response.author.avatar %}
                            <img src="{{ vich_uploader_asset(response.author, 'imageFile') | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ response.author.username }}">
                        {% else %}
                            <img src="{{ '/images/users/default.png' | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ response.author.username }}">
                        {% endif %}
                    </div>
                    <div class="col-sm-11">
                        <p>{{ response.createdAt | date('Y-m-d H:i:s') }} - <a class="text-light" href="{{ path('user.profile', {id: response.author.id}) }}"><strong>{{ response.author.username }}</strong></a></p>
                        <p>{{ response.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if app.user %}
        <hr>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-secondary btn-block btn-sm"><i class="fas fa-reply"></i> Répondre</button>
        {{ form_end(form) }}
    {% else %}
        <hr>
        <p align="center">Vous devez vous <a href="{{ path('security.login') }}">connecter</a> pour répondre à ce sujet.</p>
    {% endif %}
{% endblock %}
