{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }} - {{ parent() }}{% endblock %}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('forum.subcategory', {slug: topic.subcategory.slug, id: topic.subcategory.id}) }}">{{ topic.subcategory.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center">
        <h1>{{ topic.title }}</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id is same as(topic.author.id) %}
            <div class="ml-3">
                <a class="btn btn-light btn-sm" href="{{ path('forum.topic_edit', {slug: topic.slug, id: topic.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
                &nbsp;
                <form style="display: inline-block;" action="{{ path('forum.topic_delete', {slug: topic.slug, id: topic.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sujet ? (action irréversible)')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-topic-' ~ topic.id) }}">
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="pt-3 pl-3 pr-3">
        <div class="row">
            <div class="col-sm-1">
                {% if topic.author.avatar %}
                    <img src="{{ vich_uploader_asset(topic.author, 'imageFile') | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ topic.author.username }}">
                {% else %}
                    <img src="{{ '/images/users/default.png' | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ topic.author.username }}">
                {% endif %}
            </div>
            <div class="col-sm-11">
                <p><time data-datetime="{{ topic.createdAt | date('Y-m-d H:i:s') }}">{{ topic.createdAt | date('Y-m-d H:i:s') }}</time>- <a href="{{ path('user.profile', {slug: topic.author.slug, id: topic.author.id}) }}">{{ topic.author.username }}</a></p>
                <p>{{ topic.content }}</p>
            </div>
        </div>
    </div>
    {% for response in topic.responses %}
        <br>
        <div class="text-light bg-dark responseCore">
            <div class="pt-3 pl-3 pr-3 pb-3">
                <div class="row">
                    <div class="col-sm-1">
                        {% if response.author.avatar %}
                            <img class="rounded border border-primary" src="{{ vich_uploader_asset(response.author, 'imageFile') | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ response.author.username }}">
                        {% else %}
                            <img class="rounded border border-primary" src="{{ '/images/users/default.png' | imagine_filter('user_avatar_normal') }}" alt="Avatar de {{ response.author.username }}">
                        {% endif %}
                    </div>
                    <div class="col-sm-11">
                        <div class="d-flex justify-content-between">
                            <p><time data-datetime="{{ response.createdAt | date('Y-m-d H:i:s') }}">{{ response.createdAt | date('Y-m-d H:i:s') }}</time> - <a class="text-light" href="{{ path('user.profile', {slug: response.author.slug, id: response.author.id}) }}"><strong>{{ response.author.username }}</strong></a></p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id is same as(response.author.id) %}
                                <div>
                                    <a href="#" class="btn btn-light btn-sm js-responseEditButton"><i class="fas fa-pencil-alt"></i> Éditer</a>
                                    &nbsp;
                                    <form style="display: inline-block;" action="{{ path('forum.topicresponse_delete', {id: response.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre réponse ? (action irréversible)')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete-topicresponse-' ~ response.id) }}">
                                        <button id="deleteTopicReplyButton" class="btn btn-primary btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <p class="responseContent">{{ response.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id is same as(response.author.id) %}
            <div class="responseEdit hidden">
                <form action="{{ path('forum.topicresponse_edit', {id: response.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('edit-topicresponse-' ~ response.id) }}">
                    <div class="form-group">
                        <label for="content">Votre réponse</label>
                        <textarea name="content" id="content" class="form-control">{{ response.content }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-info"><i class="fas fa-check"></i> Sauvegarder</button>
                    <button class="btn btn-light js-cancelEditResponseAction"><i class="fas fa-times"></i> Annuler</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
    {% if app.user %}
        <hr>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <p align="center"><button type="submit" id="newTopicReplyButton" class="btn btn-success"><i class="fas fa-reply"></i> Répondre</button></p>
        {{ form_end(form) }}
    {% else %}
        <hr>
        <p align="center">Vous devez être <a href="{{ path('security.login') }}">connecté</a> pour répondre à ce sujet.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('topic') }}
{% endblock %}