{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    <div class="d-flex align-items-center justify-content-between">
        <h1>Accueil</h1>
        {% if app.user %}
            <p><a href="{{ path('forum.topic_new') }}"><button class="btn btn-success btn-sm mt-2"><i class="fas fa-plus"></i> Nouveau sujet</button></a></p>
        {% endif %}
    </div>

    {% for category in categories %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ category.name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for subcategory in category.subcategories %}
                    <tr>
                        <td><a href="{{ path('forum.subcategory', {slug: subcategory.slug, id: subcategory.id}) }}">{{ subcategory.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucune sous-catégorie trouvée...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% else %}
        <p>Aucune catégorie n'a été trouvée...</p>
    {% endfor %}
{% endblock %}
