{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    <h1>Accueil</h1>
    <p><a href="{{ path('forum.topic_new') }}"><button class="btn btn-secondary btn-sm"><i class="fas fa-plus"></i> Nouveau sujet</button></a></p>
    {% for category in categories %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>{{ category.name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for subcategory in category.subcategories %}
                    <tr>
                        <td><a href="{{ path('forum.subcategory', {slug: subcategory.slug, id: subcategory.id}) }}">{{ subcategory.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucune sous-catégorie trouvée...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% else %}
        <p>Aucune catégorie n'a été trouvée...</p>
    {% endfor %}
{% endblock %}
