{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <p><strong>Date d'inscription:</strong> {{ user.createdAt | date('Y-m-d H:i:s') }}</p>
    <p><strong>Adresse email:</strong> {{ user.email }}</p>
{% endblock %}