{% extends 'base.html.twig' %}

{% block title %}{{ subcategory.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ subcategory.name }}</li>
        </ol>
    </nav>
    <h1>{{ subcategory.name }}</h1>
    {% if subcategory.topics is empty %}
        <p>Aucun sujet trouvé.</p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Réponses</th>
                <th>Date de création</th>
                <th>Dernière mise à jour</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in subcategory.topics %}
                <tr>
                    <td><a href="{{ path('forum.topic_show', {slug: topic.slug, id: topic.id}) }}">{{ topic.title }}</a></td>
                    <td><a href="{{ path('user.profile', {id: topic.author.id}) }}">{{ topic.author.username }}</a></td>
                    <td>{{ topic.responses | length }}</td>
                    <td>{{ topic.createdAt | date('Y-m-d H:i:s') }}</td>
                    {% if topic.updatedAt is null %}
                        <td></td>
                    {% else %}
                        <td>{{ topic.updatedAt | date('Y-m-d H:i:s') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}